*{
    box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
    padding: 20px;
}

.currency {
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
    padding: 20px;
}

input {
	text-align: right;
	font-size: 20px;
	border: 0;
	background: transparent;
	outline: none;
}

button {
	font-size: 20px;
	width: 100px;
	margin: 10px 0;
}

.two {
	padding-top: 15px;
	font-size: 35px;
	text-align: end;
}
.city {
	font-size: 20px;
}
.pass {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 25px;
}
